.page.theme_dark {
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --decor-color: #FF0070;
  --menu-hover-color: rgba(255, 0, 112, 0.4);
  --header-text-color: #000028;
  --accent-heading-color: #DB00FF;
  --theme-switch-color: #FF0070;
  --title-color: #FF0070;
  --subtitle-color: #000028;
  --font-family: "IBM Plex Mono", monospace, serif;
  --font-size: 18px;
  --link-shadow: 2px 2px 0px var(--accent-color);
  --link-hover: #F1B2CE;
  --cover-image: url(../images/cover-image-dark.png);
  --accent-heading-fs-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --accent-heading-fs-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}

@media (prefers-color-scheme:dark) {
  :root {
    --bg-color: #000028;
    --text-color: #F1B2CE;
    --accent-color: #FF0070;
    --decor-color: #FF0070;
    --menu-hover-color: rgba(255, 0, 112, 0.4);
    --header-text-color: #000028;
    --accent-heading-color: #DB00FF;
    --theme-switch-color: #FF0070;
    --title-color: #FF0070;
    --subtitle-color: #000028;
    --font-family: "IBM Plex Mono", monospace, serif;
    --font-size: 18px;
    --link-shadow: 2px 2px 0px var(--accent-color);
    --link-hover: #F1B2CE;
    --cover-image: url(../images/cover-image-dark.png);
    --accent-heading-fs-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --accent-heading-fs-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
